@model Projeto.Presentation.Mvc.Models.EstoqueCadastroModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Cadastro de Estoque</h2>
<hr />

@using (Html.BeginForm())
{
    <label>Nome do Estoque:</label>
    @Html.TextBoxFor(model => model.Nome,
    new
    {
        @class = "form-control col-md-4",
        @autocomplete = "off",
        @placeholder = "Digite Aqui"
    })
    <span>
        @Html.ValidationMessageFor(model => model.Nome)
    </span>
    <br />

    <label>Data da criação:</label>
    @Html.TextBoxFor(model => model.DataCriacao,
    new
    {
        @class = "form-control col-md-4",
        @autocomplete = "off",
        @placeholder = "Digite Aqui"
    })
    <span>
        @Html.ValidationMessageFor(model => model.DataCriacao)
    </span>
    <br />

    <input type="submit" value="Cadastrar Estoque"
           class="btn btn-success" />
}